# npm

node_modules

# Built files

dist

# Terraform

**/.terraform/*
*.tfstate
*.tfstate.*

# Lerna

lerna-debug.log
*.lerna_backup

# yarn

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
